{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block body %}

<main>

<header>
  <div class="row mt-1">
    <div class="col-lg-4 ">
      <img class="mt-2" src="../img/menu1.jpg" alt="balans1" style="width:100%;">
    </div>
    <div class="col-lg-4 text-center marginY">
      <p class="menuM balanceTitle">Menu główne</p>
    </div>
    <div class="col-lg-4">
      <img class="mt-2" src="../img/menu2.jpg" alt="balans2" style="width:100%;">
    </div>
  </div>
</header>
<div class="row">
  <div class="col-lg-12 text-center">
    <div class="mt-1">
      <div class="btn-group-vertical btn-block" role="group" aria-label="First group">
        <a href="/addincome/show"><button type="button" class="btn btn-primary btn-lg btn-block" >Dodaj przychód</button></a>
        <a href=""><button type="button" class="btn btn-danger btn-lg btn-block mt-1" >Dodaj wydatek</button></a>
        <a href="balance.php"><button type="button" class="btn btn-success btn-lg btn-block mt-1">Przeglądaj bilans</button></a>
        <a href="balance.php"><button type="button" class="btn btn-warning btn-lg btn-block mt-1" disabled>Ustawienia</button></a>
        <a href="/logout"><button type="button" class="btn btn-secondary btn-lg btn-block mt-1">Wyloguj się</button></a>
      </div>
    </div>
  </div>
</div>
</main>

{% endblock %}
