{% extends "base.html" %}

{% block title %}Finanse pod lupą{% endblock %}

{% block footer %}

<script src="/js/jsDate.js"></script>
<script src="/js/app.js"></script>

<script>
window.onload = function(){

     var dateFrom = $('#fromDate').val();
     var dateTo = $('#dateTo').val();
     $.ajax({
          url:"/Balance/ajaxIncome",
          method:"POST",
          data: {dateFrom:dateFrom, dateTo:dateTo},
          success:function(json)
          {
            let obj = JSON.parse(json);
            var labels = obj.map(function (e) {
              return e.name;
            });
            var values = obj.map(function (e) {
              return e.amount;
            });
            var chart = BuildChartIncome(labels, values, 'Przychody');
          }
     });
     $.ajax({
          url:"/Balance/ajaxExpense",
          method:"POST",
          data: {dateFrom:dateFrom, dateTo:dateTo},
          success:function(json)
          {
            let obj = JSON.parse(json);
            var labels = obj.map(function (e) {
              return e.name;
            });
            var values = obj.map(function (e) {
              return e.amount;
            });
            var chart = BuildChartExpense(labels, values, 'Wydatki');
          }
     });
    }
</script>
{% endblock %}

{% block body %}
<main class="fontColor">
  <nav>
    <a href="/menu/index"><button type="button" class="btn btn-lg btn-warning btn-warning-inverse sticky">Powrót do menu głównego</button></a>
  </nav>
  <header>
    <div class="row mt-5 mb-3">
      <div class="col-lg-4 ">
        <img class="mt-2" src="../img/balance.jpg" alt="balans1" style="width:100%;">
      </div>
      <div class="col-lg-4 text-center marginY">
        <p class="balanceTitle" >Przegląd finansów</p>
      </div>
      <div class="col-lg-4">
        <img class="mt-2" src="../img/balance.jpg" alt="balans2" style="width:100%;">
      </div>
    </div>
  </header>
  <section>
    <div class="mt-0 mb-3">
      <div class="row">
          <div class="col-lg-5 text-center" style="border: dashed 3px #b38600;">
            <form  id="balance" method="post" action="/balance/getBalance">
            <p class="balanceTitleDate my-0">Wybierz okres:</p>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="balanceFrom" for="fromDate">Od:</label>
                  {% if firstDay is not empty %}
                  <input type="date" id="fromDate" name="fromDate" value="{{firstDay}}" class="form-control">
                  {% else %}
                  <input type="date" id="fromDate" name="fromDate" value="{{balance.fromDate}}" class="form-control">
                  {% endif %}
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="balanceFrom" for="dateTo">Do:</label>
                  {% if lastDay is not empty %}
                  <input type="date" id="dateTo" name="dateTo" value="{{lastDay}}" class="form-control">
                  {% else %}
                  <input type="date" id="dateTo" name="dateTo" value="{{balance.dateTo}}" class="form-control">
                  {% endif %}
                </div>
              </div>
            </div>
            <button type="button" onclick='currentMonth()' class="btn btn-warning mb-1" style="width: 180px;"><h5 class="mt-1">Bieżący miesiąc</h5></button>
            <button type="button" onclick='previousMonth()' class="btn btn-warning mb-1" style="width: 180px;"><h5 class="mt-1">Poprzedni miesiąc</h5></button>
            <button type="button"  onclick='currentYear()' class="btn btn-warning mb-1" style="width: 180px;"><h5 class="mt-1">Bieżacy rok</h5></button>
            <button type="button" onclick='previousYear()' class="btn btn-warning mb-1" style="width: 180px;"><h5 class="mt-1">Poprzedni rok</h5></button>
            <button type="submit" id="showButton" name="showButton" class="btn btn-success btn-block mb-1"><h5 class="mt-1">Pokaż</h5></button>

            </form>
          </div>
        <div class="col-lg-7">

          {% if balance is not empty %}
          <div class="row">
            <div class="col-12">
            <span style="font-weight:bold;" class="h1">PODSUMOWANIE</span>
            <h5>Wydatki razem:  {{balance.expenseSaldo}} zł</h5>
            <h5>Przychody razem: {{balance.incomeSaldo}} zł</h5>
            <h2>SALDO</h2>
            <h2 id="saldo">{{balance.incomeSaldo - balance.expenseSaldo}} zł</h2>
            {% if balance.incomeSaldo - balance.expenseSaldo < 0 %}
            <p style="color: red;">Coś nie pykło. Ogranicz wydatki lub zwiększ przychody!</p>
            {% else %}
              <p style="color: green;">Good job! Zarządzasz nienajgorzej, a przynajmnniej jako tako.</p>
            {% endif %}
            </div>
          </div>
        </div>
      </div>

        <div class="row mt-3">
          <div class="col-lg-5">
            <div classs="row">
              <h3>Przychody szczegółowo:</h3>
              <div class="col-8 float-left text-left">
                {% for incomeName in balance.incomeName %}
                  <div>{{incomeName}}</div>
                {% endfor %}
              </div>
              <div class="col-4 float-left text-left">
                {% for incomeAmount in balance.incomeAmount %}
                    <div>{{incomeAmount}} zł</div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div classs="row">
              <h3>Wydatki szczegółowo:</h3>
              <div class="col-4 float-left text-left">
                {% for expenseName in balance.expenseName %}
                  <div>{{expenseName}}</div>
                {% endfor %}
              </div>
              <div class="col-4 float-left text-left">
                {% for expenseLimit in balance.expenseLimit %}
                {% set dataWithHtml = expenseLimit %}
                  <div>{{dataWithHtml|raw}}</div>
                {% endfor %}
              </div>
              <div class="col-4 float-left text-left">
                {% for expenseAmount in balance.expenseAmount %}
                    <div>{{expenseAmount}} zł</div>
                {% endfor %}
              </div>
            </div>
            {% endif %}

          </div>
        </div>

      {% if balance is not empty %}
      <div class="row justify-content-start">
        <div class="col-xl-6">
          <div class="chart-cnt">
            <canvas id="myChart2" width="600" height="200"></canvas>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="chart-cnt">
            <canvas id="myChart" width="600" height="200"></canvas>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
</main>
{% endblock %}
