{% extends "base.html" %}

{% block title %}Ustawienia{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>
 <script>

$(document).ready(function(){

var openIncome = 0;
var openExpense = 0;
var openPayment = 0;
var openUser = 0;

  $('#dropdownButtonIncome').click(function(){
    if(openIncome==0){
      $('#dropdownIncome').show();
      openIncome++;
    }else{
      $('#dropdownIncome').hide();
      openIncome=0;
    }
  });

  $('#dropdownButtonExpense').click(function(){
    if(openExpense==0){
      $('#dropdownExpense').show();
      openExpense++;
    }else{
      $('#dropdownExpense').hide();
      openExpense=0;
    }
  });


  $('#dropdownButtonPayment').click(function(){
    if(openPayment==0){
      $('#dropdownPayment').show();
      openPayment++;
    }else{
      $('#dropdownPayment').hide();
      openPayment=0;
    }
  });


  $('#dropdownButtonUser').click(function(){
    if(openUser==0){
      $('#dropdownUser').show();
      openUser++;
    }else{
      $('#dropdownUser').hide();
      openUser=0;
    }
  });


  $('.limitCheckbox:checkbox').change(
      function(){
          if ($(this).is(':checked')) {
              $('.limitMoney').prop("disabled", false);
          }else {
            $('.limitMoney').prop("disabled", true);
          }
      });



 $('.showModalEditExpense').click(function(){
   if($('input[name=expense]:checked').val()){

     var fullname = $('input[name=expense]:checked').val();
     var shortname = "";
     if(fullname.indexOf("<") !=-1)
     {
       var pos = fullname.indexOf("<");
       shortname = fullname.slice(0, pos);
     }else{
       shortname = fullname;
     }
     $.ajax({
          url: "/Edit/getLimit",
          method: "POST",
          data: {shortname:shortname},
          success: function(data) {
             $('#limitValue').val(data);
          }
     });

     document.getElementById("nameOfEditCategoryExpense").value = shortname;
     $('#modalEditExpense').modal('show');
    }else{
      alert("Musisz coś najpierw wybrać.");
    }

});

 $('.showModalEditIncome').click(function(){
   if($('input[name=income]:checked').val()){
     document.getElementById("nameOfEditCategoryIncome").value = $('input[name=income]:checked').val();
     $('#modalEditIncome').modal('show');
    }else{
      alert("Musisz coś najpierw wybrać.");
    }
});


 $('.showModalEditPayment').click(function(){
   if($('input[name=payment]:checked').val()){
     document.getElementById("nameOfEditCategoryPayment").value = $('input[name=payment]:checked').val();
     $('#modalEditPayment').modal('show');
    }else{
      alert("Musisz coś najpierw wybrać.");
    }
});


   $('#changePass').click(function(event) {
     event.preventDefault();
      var newPass = $('#userPassowrd').val();

           $.ajax({
                url: "/Edit/password",
                method: "POST",
                data: {newPass:newPass},
                success: function() {
                document.getElementById("userPassowrd").value = null;
                alert("Hało zostało zmienione.")
                }
           });
   });


   $('#changeName').click(function(event) {
     event.preventDefault();
      var newName = $('#userName').val();
        if(newName != ""){
          $.ajax({
                url: "/Edit/name",
                method: "POST",
                data: {newName:newName},
                success: function() {
                document.getElementById("userName").value = newName;
                alert("Pomyślnie zmieniono imię.")
                }
           });
        }else{
          alert("Muisz wpisać choć jedną literę.")
        }
   });


   $('#changeEmail').click(function(event) {
     event.preventDefault();
      var newEmail = $('#userEmail').val();
        if(newEmail != ""){
          $.ajax({
                url: "/Edit/email",
                method: "POST",
                data: {newEmail:newEmail},
                success: function() {
                document.getElementById("userEmail").value = newEmail;
                alert("Pomyślnie zmieniono nazwę użytkownika.")
                }
           });
        }else{
          alert("Muisz wpisać choć jedną literę.")
        }
   });


   $('.deleteCategoryIncome').click(function(event) {
     event.preventDefault();
      var catName = $('input[name=income]:checked').val();
       if(catName){
          if (window.confirm("Czy jesteś absolutnie pewnien tego co chcesz uczynić?")) {
                     $.ajax({
                          url: "/Edit/deleteCategoryIncome",
                          method: "POST",
                          data: {catName:catName},
                          success: function() {
                          window.location.reload();
                          }
                     });
         }
       }else{
         alert("Musisz coś najpierw wybrać.");
       }
   });


   $('.deleteCategoryPayment').click(function(event) {
     event.preventDefault();
      var catName = $('input[name=payment]:checked').val();
       if(catName){
          if (window.confirm("Czy jesteś absolutnie pewnien tego co chcesz uczynić?")) {
                     $.ajax({
                          url: "/Edit/deleteCategoryPayment",
                          method: "POST",
                          data: {catName:catName},
                          success: function() {
                          window.location.reload();
                          }
                     });
         }
       }else{
         alert("Musisz coś najpierw wybrać.");
       }
   });

   $('.deleteCategoryExpense').click(function(event) {
     event.preventDefault();

       var fullname = $('input[name=expense]:checked').val();
       if(fullname.indexOf("<") !=-1)
       {
         var pos = fullname.indexOf("<");
         var catName = fullname.slice(0, (pos-1));
       }else{
         catName = fullname;
       }

       if(catName){
          if (window.confirm("Czy jesteś absolutnie pewnien tego co chcesz uczynić?")) {
                     $.ajax({
                          url: "/Edit/deleteCategoryExpense",
                          method: "POST",
                          data: {catName:catName},
                          success: function() {
                          window.location.reload();
                          }
                     });
         }
       }else{
         alert("Musisz coś najpierw wybrać.");
       }
   });

   $('#editCategoryButtonIncome').click(function(event) {
     event.preventDefault();
      var catName = $('#nameOfEditCategoryIncome').val();
      var oldCatName = $('input[name=income]:checked').val();
             $.ajax({
                  url: "/Edit/editCategoryIncome",
                  method: "POST",
                  data: {catName:catName, oldCatName:oldCatName},
                  success: function() {
                  window.location.reload();
                  }
             });

   });
   $('#editCategoryButtonPayment').click(function(event) {
     event.preventDefault();
      var catName = $('#nameOfEditCategoryPayment').val();
      var oldCatName = $('input[name=payment]:checked').val();
             $.ajax({
                  url: "/Edit/editCategoryPayment",
                  method: "POST",
                  data: {catName:catName, oldCatName:oldCatName},
                  success: function() {
                  window.location.reload();
                  }
             });
   });

   $('#editCategoryButtonExpense').click(function(event) {
     event.preventDefault();

     var fullname = $('input[name=expense]:checked').val();
     var shortname = "";
     if(fullname.indexOf("<") !=-1)
     {
       var pos = fullname.indexOf("<");
       shortname = fullname.slice(0, pos);
     }else{
       shortname = fullname;
     }

      var catName = $('#nameOfEditCategoryExpense').val();
      var oldCatName = shortname
      var limit = $('#limitValue').val();

             $.ajax({
                  url: "/Edit/editCategoryExpense",
                  method: "POST",
                  data: {catName:catName, oldCatName:oldCatName, limit:limit},
                  success: function() {
                  window.location.reload();
                  }
             });

   });

   $('#addNewCategoryButtonIncome').click(function(event){
     event.preventDefault();
    var catName = $('#nameOfNewCategoryIncome').val();
      if(catName !="")
      {
             $.ajax({
              url: "/Edit/addCategoryIncome",
              method: "POST",
              data: {catName:catName},
              success: function() {
                window.location.reload();
              }
         });
      }else{
        alert("Musisz coś wpisać.");
      }
   });
   $('#addNewCategoryButtonPayment').click(function(event){
     event.preventDefault();
    var catName = $('#nameOfNewCategoryPayment').val();
      if(catName !="")
      {
             $.ajax({
              url: "/Edit/addCategoryPayment",
              method: "POST",
              data: {catName:catName},
              success: function() {
                window.location.reload();
              }
         });
      }else{
        alert("Musisz coś wpisać.");
      }
   });
   $('#addNewCategoryButtonExpense').click(function(event){
     event.preventDefault();
    var catName = $('#nameOfNewCategoryExpense').val();
    var catLimit = $('#addLimitValue').val();
      if(catName !="")
      {
             $.ajax({
              url: "/Edit/addCategoryExpense",
              method: "POST",
              data: {catName:catName, catLimit:catLimit},
              success: function() {
                window.location.reload();
              }
         });
      }else{
        alert("Musisz coś wpisać.");
      }
   });


   $('#userPassowrd').hideShowPassword({
     show: false,
     innerToggle: focus,
     toggle: {
       element: '<button type="button" class="btn btn-light">',
       verticalAlign: 'top'
     },
     states: {
       shown: {
         toggle: {
           className: 'hideShowPassword-toggle-hide',
           content: 'Ukryj',
         }
       },
       hidden: {
         toggle: {
           className: 'hideShowPassword-toggle-show',
           content: 'Pokaż',
         }
       }
     }
   });

   $('#passwordForm').validate({
     rules: {
       password: {
         required: true,
         minlength: 6,
         validPassword: true
       }
     },
     messages:{
       password: {
         required: 'Hasło jest wymagane.',
         minlength: 'Musi zawierać conajmniej 6 znaków.'
       }
     }
   });

   $('#emailForm').validate({
     rules: {
       email: {
         required: true,
         email: true,
         remote: '/account/validateEmail'
       }
     },
     messages:{
       email: {
         email: 'Wprowadź poprawny adres email. Przykład: moje@subaru.pl',
         remote: 'Uzytkownik o tym adresie email już istnieje. Wprowadź inny.',
         required: 'Email jest wymagany.'
       }
     }
   });
});


</script>

{% endblock %}

{% block body %}

<main>
  <nav>
    <a href="/menu/index"><button type="button" class="btn btn-lg btn-warning btn-warning-inverse sticky" style="z-index: 9999;">Powrót do menu głównego</button></a>
  </nav>
<header>
  <div class="row mt-1">
    <div class="col-lg-12 text-center marginY">
      <p class="menuM balanceTitle">Ustawienia</p>
    </div>
  </div>
</header>
<div class="row">
  <div class="col-lg-4">
    <img class="mt-2" src="../img/settings.jpg" alt="balans2" style="width:88%;">
  </div>
  <div class="col-lg-4 text-center marginY">
    <div class="dropdown">
      <button class="btn btn-primary btn-lg btn-block" type="button" id="dropdownButtonIncome">
        Kategorie przychodów
      </button>
      <div class="dropdown-menu w-100 position-relative py-0" id="dropdownIncome" aria-labelledby="dropdownMenuButton">
        <h6 class="dropdown-header text-center" style="font-weight:bold;">Istniejące kategorie</h6>
        <div class="dropdown-divider my-0 w-100"></div>

        {% for incomeName in editNames.incomeName %}

        <div class="form-check ml-2 my-2 ">
          <label class="mb-0 w-100">
            <input class="form-check-input" type="radio" name="income" value="{{incomeName}}">

              {{incomeName}}

          <a href="" class="fontelloLink deleteCategoryIncome"><i class="icon-trash float-right"></i></a>
          <a class="fontelloLink showModalEditIncome"><i class="icon-pencil float-right"></i></a>
          </label>
        </div>
        <div class="dropdown-divider my-0 w-100"></div>

        {% endfor %}

        <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#addNewCategoryIncome">+ Dodaj nową</button>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-danger btn-lg btn-block" type="button" id="dropdownButtonExpense">
        Kategorie wydatków
      </button>
      <div class="dropdown-menu w-100 position-relative py-0" id="dropdownExpense" aria-labelledby="dropdownMenuButton">
        <h6 class="dropdown-header text-center" style="font-weight:bold;">Istniejące kategorie</h6>
        <div class="dropdown-divider my-0 w-100"></div>

        {% for expenseNameWithLimit in editNames.expenseNameWithLimit %}

        <div class="form-check ml-2 my-2">
          <label class="w-100 marginY">
            <input class="form-check-input" type="radio" name="expense" id="shortNameExpense" value="{{expenseNameWithLimit}}">

          {% set dataWithHtml = expenseNameWithLimit %}
            {{dataWithHtml|raw}}

            <a href="" class="fontelloLink deleteCategoryExpense"><i class="icon-trash float-right"></i></a>
            <a class="fontelloLink showModalEditExpense"><i class="icon-pencil float-right"></i></a>
            </label>
          </div>
          <div hidden>
            <p id="existingLimit"></p>
          </div>
          <div class="dropdown-divider my-0 w-100"></div>

        {% endfor %}

        <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#addNewCategoryExpense">+ Dodaj nową</button>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-success btn-lg btn-block" type="button" id="dropdownButtonPayment">
        Sposoby płatności
      </button>
      <div class="dropdown-menu w-100 position-relative py-0" id="dropdownPayment" aria-labelledby="dropdownMenuButton">
        <h6 class="dropdown-header text-center" style="font-weight:bold;">Aktualne metody płatności</h6>
        <div class="dropdown-divider my-0 w-100"></div>

        {% for paymentMethod in editNames.paymentMethod %}

        <div class="form-check ml-2 my-2 ">
          <label class="mb-0 w-100">
            <input class="form-check-input" type="radio" name="payment" value="{{paymentMethod}}">

          {{paymentMethod}}

          <a href="" class="fontelloLink deleteCategoryPayment"><i class="icon-trash float-right"></i></a>
          <a class="fontelloLink showModalEditPayment"><i class="icon-pencil float-right"></i></a>
          </label>
        </div>
        <div class="dropdown-divider my-0 w-100"></div>
        {% endfor %}

        <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#addNewCategoryPayment">+ Dodaj nową</button>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-warning btn-lg btn-block" type="button" id="dropdownButtonUser">
        Użytkownik
      </button>
      <div class="dropdown-menu w-100 position-relative py-0" id="dropdownUser" aria-labelledby="dropdownMenuButton">


        {% if user is not empty %}
        <form>
          <h6 class="dropdown-header text-center" style="font-weight:bold;">Aktualne imię</h6>
          <div class="input-group ml-2 my-2">
            <input class="form-control" type="text" value="{{user.name}}" id="userName">
            <button class="btn btn-secondary mr-3" type="button" id="changeName">Zmień imię</button>
          </div>
        </form>
        <div class="dropdown-divider my-1 w-100"></div>
        <h6 class="dropdown-header text-center" style="font-weight:bold;">Aktualny email</h6>
        <form id="emailForm">
          <div class="input-group ml-2 mb-2">
              <input class="form-control" type="email" name="email" id="userEmail" value="{{user.email}}">
              <button class="btn btn-secondary mr-3" type="button" id="changeEmail">Zmień nazwę</button>
          </div>
        </form>
        <div class="dropdown-divider my-1 w-100"></div>
        <h6 class="dropdown-header text-center" style="font-weight:bold;">Zmień hasło</h6>
        <form id="passwordForm">
          <div class="m-2">
            <input class="form-control" type="password" id="userPassowrd" name="password" placeholder="tu wpisz nowe hasło">
            <button class="btn btn-secondary btn-block" type="button" id="changePass">Zmień hasło</button>
          </div>
        </form>

        {% endif %}
        </div>
    </div>
  </div>
  <div class="col-lg-4">
    <img class="mt-2" src="../img/settings.jpg" alt="balans2" style="width:88%;">
  </div>
</div>
</main>


<div class="modal fade" id="addNewCategoryIncome" tabindex="-1" role="dialog" aria-labelledby="addNewCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Wpisz nazwę nowej kategorii</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <input type="text" id="nameOfNewCategoryIncome" class="form-control" placeholder="np. hipoteka">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="button" id="addNewCategoryButtonIncome" class="btn btn-primary">Dodaj</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addNewCategoryPayment" tabindex="-1" role="dialog" aria-labelledby="addNewCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Wpisz nazwę nowej metody płatności</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <input type="text" id="nameOfNewCategoryPayment" class="form-control" placeholder="np. dary natury">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="button" id="addNewCategoryButtonPayment" class="btn btn-primary">Dodaj</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addNewCategoryExpense" tabindex="-1" role="dialog" aria-labelledby="addNewCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Wpisz nazwę nowej kategorii</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <input type="text" id="nameOfNewCategoryExpense" class="form-control" placeholder="np. pluszowe misie">
        <div class="form-check">
          <label class="form-check-label" for="limit">
            <input type="checkbox" id="limit" class="form-check-input limitCheckbox">
            Ustaw limit
          </label>
        </div>
        <input type="number" class="limitMoney form-control" id="addLimitValue" disabled>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="button" id="addNewCategoryButtonExpense" class="btn btn-primary">Dodaj</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalEditExpense" tabindex="-1" role="dialog" aria-labelledby="editNewCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edytuj kategorię</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <label for="nameOfEditCategoryExpense">Nazwa kategorii</label>
        <input type="text" id="nameOfEditCategoryExpense" class="form-control" autofocus>
        <div class="form-check">
          <label class="form-check-label">

            <input type="checkbox" id="limit" class="form-check-input limitCheckbox">
            Ustaw limit
          </label>
        </div>
        <input type="number" class="limitMoney form-control" id="limitValue" disabled>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="button" id="editCategoryButtonExpense" class="btn btn-primary">Zmień</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditIncome" tabindex="-1" role="dialog" aria-labelledby="editNewCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edytuj kategorię</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <label for="nameOfEditCategoryIncome">Nazwa kategorii</label>
        <input type="text" id="nameOfEditCategoryIncome" class="form-control" autofocus>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="button" id="editCategoryButtonIncome" class="btn btn-primary">Zmień</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditPayment" tabindex="-1" role="dialog" aria-labelledby="editNewCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edytuj kategorię</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <label for="nameOfEditCategoryPayment">Nazwa kategorii</label>
        <input type="text" id="nameOfEditCategoryPayment" class="form-control" autofocus>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="button" id="editCategoryButtonPayment" class="btn btn-primary">Zmień</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
